.landing-section {
  background-image: url('../images/bg2.jpg'); /* Update the path if necessary */
  background-size: cover;
  background-position: center;
  height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ribbon h2 {
  color: #3b5998;
  font-size: 5rem; /* Increase font size */
  font-weight: bold;
  font-family: 'Algerian', sans-serif;
}

.slogan {
  margin-top: 10px;
  text-align: center;
}

.since-1992 p {
  margin: 5px 0;
  font-size: 3rem; /* Increase font size */
  font-family: 'Arial', sans-serif; /* Change font family */
}

.colour-ur-dreams p {
  margin: 5px 0;
  font-size: 5rem; /* Increase font size */
  font-family: 'Forte', cursive; /* Change font family */
}

.colour-ur-dreams p span {
  font-family: 'Algerian', sans-serif;
}

.colour-ur-dreams p span:nth-child(1) {
  color: #ff0000; /* Red */
}

.colour-ur-dreams p span:nth-child(2) {
  color: #00ff00; /* Green */
}

.colour-ur-dreams p span:nth-child(3) {
  color: #0000ff; /* Blue */
}

.colour-ur-dreams p span:nth-child(4) {
  color: #ff00ff; /* Magenta */
}

.colour-ur-dreams p span:nth-child(5) {
  color: #ff6600; /* Orange */
}

.colour-ur-dreams p span:nth-child(6) {
  color: #cc00cc; /* Purple */
}

.colour-ur-dreams p span:nth-child(7) {
  color: #008080; /* Teal */
}

.colour-ur-dreams p span:nth-child(8) {
  color: #800000; /* Maroon */
}

.colour-ur-dreams p span:nth-child(9) {
  color: #6600cc; /* Indigo */
}

.colour-ur-dreams p span:nth-child(10) {
  color: #339966; /* Green */
}

.colour-ur-dreams p span:nth-child(11) {
  color: #993300; /* Brown */
}

.colour-ur-dreams p span:nth-child(12) {
  color: #003366; /* Navy */
}

.colour-ur-dreams p span:nth-child(13) {
  color: #cc3300; /* Dark Orange */
}

.colour-ur-dreams p span:nth-child(14) {
  color: #003300; /* Dark Green */
}

.colour-ur-dreams p span:nth-child(15) {
  color: #ff3333; /* Light Red */
}

.colour-ur-dreams p span:nth-child(16) {
  color: #ffcc00; /* Gold */
}

.colour-ur-dreams p span:nth-child(17) {
  color: #330099; /* Dark Purple */
}

.colour-ur-dreams p span:nth-child(18) {
  color: #336600; /* Dark Green */
}

.colour-ur-dreams p span:nth-child(19) {
  color: #990033; /* Dark Red */
}

.colour-ur-dreams p span:nth-child(20) {
  color: #660000; /* Dark Maroon */
}
